<div class="row columns">
  <nav id='mapper-menu' class='top-bar'>
    <div class='top-bar-left'>
      <ul class="menu">
        <li class='menu-text'>
          <%=link_to 'Home', root_path %>
        </li>
        <li class='menu-text'>
          <form id='query-form' action='/' method='get'>
            <input id='queryInput' type='date' name='date' value='<%=params[:date]%>' placeholder="<%=params[:date].present? ? params[:date] : 'Date Filter' %>">
          </form>
            <% if params[:date].present? %>
              <a href='/' class='button success'>Show All</a>
            <%end%>
        </li>
      </ul>
    </div>
    <div class='top-bar-right'>
      <% if current_user %>
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">
            <%=image_tag current_user.image %>
            <ul class="menu vertical">
              <li><%=link_to "My Games", user_path(current_user) %></li>
              <li><%=link_to "Edit Account", edit_user_path(current_user)%></li>
              <li><%=link_to "Sign Out", signout_path%></li>
            </ul>
          </li>
        </ul>
      <% else %>
        <ul class='menu'>
          <li class='menu-text'>
            <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
          </li>
        </ul>
      <% end %>
    </div>
  </nav>
</div>