var game = {};
game.id = <%=@game.id%>;
var lat = <%=@game.latitude%>;
var lng = <%=@game.longitude%>;
var myLatLng = {lat,lng}; 
var date = new Date("<%=@game.date%>");
var options = {
    weekday: "long", year: "numeric", month: "short",
    day: "numeric", hour: "2-digit", minute: "2-digit"
};
var displayDate = date.toLocaleTimeString("en-us", options);
var sportName = "<%=game.sport_name%>"
var link = "<a href='/games/"+game.id+"'>"+sportName+"</a>";
var skill = "<%=game.skill%>";
var contentString = displayDate + "<br>" + link + "<br>"+ skill;
var marker = new google.maps.Marker({
  id: game.id,
  position: myLatLng,
  map: map,
  title: sportName,
  animation: google.maps.Animation.DROP,
  content: contentString
});
$('.form-div').toggle("slide", { direction: "right" }, 1000);
map.panTo(marker.getPosition());
google.maps.event.addListener(marker, 'click', (function(marker) {
  return function() {
    map.panTo(marker.getPosition());
    $.ajax({
      url: '/games/'+marker.id+'.json',
      method: 'get',
      success:function(data){
        var inGame=false;
        for(var i = 0; i< data.attendees.length; i++){
          if(data.attendees[i].id === data.current_user.id){
            inGame = true;
            break;
          }
        }
        var content =
        "<p>"+data.display_time+"</p><p>"+data.sport_name+"</p><p>"+data.skill+"</p><p>"+data.address.replaceAll(',','<br>') + "</p><p><button class='join_link button " + (inGame ? "alert'" : "success'") + " href='/" + (inGame ? ("game_attendees/"+ data.id+ "' data-method='delete'>") : "game_attendees/"+ data.id+ "' data-method='post'>")+ (inGame ? "Leave " : "Join ") + "Game</button></p>" + "<button api-endpoint='"+marker.id+"' class='view_game button primary'>View</button>";
        infowindow.setContent(content);
        infowindow.open(map, marker);
      }
    });
  };
})(marker));