<%= form_for @game do |f| %>
  <div class='field'>
    <%= f.label :sport %>
    <%= f.select :sport, options_for_select(Game.sports.collect{|x| [x[:name],x[:id]] }) %>
  </div>
  <div class='field'>
    <%= f.label :skill_level %>
    <%= f.select :skill_level, options_for_select(Game.skills.collect{|x| [x[:name],x[:id]] }) %>
  </div>
  <div class='field'>
    <%= f.label :date %>
    <%= f.date_field :date %>
</div>
  <div class='field'>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class='field'>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class='field'>
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>
  <%= f.submit :'Make a Game' %>
<%end%>