<% if current_user %>
  Welcome, <%=current_user.name%>
<%end%>
<ul>
    <li>
      <%= @game.date %>
      <%= @game.sport_name %>
      <br>
      <%= @game.skill %>
      <br>
      Created By: <%= @game.creator.name %>
      <ul>
        Attendees:
        <% @game.attendees.each do |attendee| %>
            <li><%=attendee.name%></li>
      </ul>
    </li>
  <%end%>
</ul>

<style>
  #map {
    height: 400px;
    width: 400px;
  }
</style>

<div id='map'></div>

<script type="text/javascript">
  var map,lat,long;
  function initMap() {
    var myLatLng = {lat: <%=@game.latitude%>, lng: <%=@game.longitude%>};
      map = new google.maps.Map(document.getElementById('map'), {
        center: myLatLng,
        scrollwheel: false,
        zoom: 15
      });
        var contentString = "<%=@game.display_time%><br><%=@game.sport_name%><br><%=@game.skill%>";
        var infowindow<%=@game.id%> = new google.maps.InfoWindow({
          content: contentString
        });
        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: '<%=@game.sport_name%>',
            animation: google.maps.Animation.DROP
          });
        google.maps.event.addListener(marker, 'click',function() {
            infowindow<%=@game.id%>.open(map, this);
         });
    }
</script>
<script src='https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.secrets.gmaps%>&callback=initMap'></script>
